In [864]:
import gc, sys, re

In [865]:
import pandas as pd
import numpy as np
import statistics as stat

In [896]:
from pymongo import *

conn = 'mongodb://localhost:27017'
client = MongoClient(conn)
db = client.crypto_wallet

In [897]:
def checkLen(a, b):
    if len(a) == len(b):
        return True
    else:
        return f'a:{len(a)} < b:{len(b)}' if len(a) < len(b) else f'b:{len(b)} < a:{len(a)}'

In [898]:
def filterData(obj, coll, st, narr):
    for obj in coll:
        try:
            tmp = obj.get(st)
            narr.append(tmp)
        except Exception as e:
            print(e, o['_id'])
    return narr

In [899]:
# BTC Collections
BTC_Tickers_Collection = db.BTC_Tickers
BTC_RSI_Collection = db.BTC_RSI14_Data
BTC_ADL_Collection = db.BTC_ADL_Data
BTC_OBV_Collection = db.BTC_OBV_Data

In [900]:
BTC_Tickers_Objs = list(BTC_Tickers_Collection.find())
BTC_datetimes = []
for dto in BTC_Tickers_Collection.find():
    date_time = dto.get('time')
    split_time = date_time.split('T')
    BTC_datetimes.append(split_time)

In [901]:
BTC_Tickers_Objs = list(BTC_Tickers_Collection.find())
BTC_prices = []
for pro in BTC_Tickers_Collection.find():
    price = pro.get('price')
    BTC_prices.append(float(price))

In [902]:
checkLen(BTC_Tickers_Objs, BTC_prices)
type(BTC_Tickers_Objs)

list

In [903]:
BTC_RSI_Objs = list(BTC_RSI_Collection.find())
BTC_RSIs = []
#     BTC_RSIs.append(int(RSI))
for rsio in BTC_RSI_Collection.find():
    RSI = rsio.get('RSI')
    try:
        if type(RSI) == float:
            BTC_RSIs.append(int(RSI))
        elif type(RSI) == list:
            BTC_RSIs.append(int(stat.mean(RSI)))
        else:
            BTC_RSIs.append(RSI)
    except Exception as e:
        print(e, o['_id'])
        sys.exit(1)

In [904]:
checkLen(BTC_RSI_Objs, BTC_RSIs)

True

In [905]:
BTC_ADL_Objs = list(BTC_ADL_Collection.find())
BTC_ADLs = []
BTC_ADL_slope = []
for o in BTC_ADL_Collection.find():
    ADL = o.get('ADL')
    slope = o.get('slope')
    try:
        if type(ADL) == float:
            BTC_ADLs.append(int(ADL))
        elif type(ADL) == list:
            BTC_ADLs.append(int(stat.mean(ADL)))
        else:
            BTC_ADLs.append(ADL)
        if type(slope) == int:
            BTC_ADL_slope.append(float(slope))
        elif type(slope) == list:
            BTC_ADL_slope.append(int(stat.mean(slope)))
        else:
            BTC_ADL_slope.append(slope)
    except Exception as e:
        print(e, o['_id'])
        sys.exit(1)

In [906]:
checkLen(BTC_ADL_Objs, BTC_ADLs)

True

In [907]:
checkLen(BTC_ADL_slope, BTC_ADLs)

True

In [908]:
BTC_OBV_Objs = list(BTC_OBV_Collection.find())
BTC_OBVs = []
BTC_OBV_slope = []
for o in BTC_OBV_Collection.find():
    OBV = o.get('OBV')
    slope = o.get('slope')
    try:
        if type(OBV) == float:
            BTC_OBVs.append(int(OBV))
        elif type(OBV) == list:
            BTC_OBVs.append(int(stat.mean(OBV)))
        else:
            BTC_OBVs.append(ADL)
        if type(slope) == int:
            BTC_OBV_slope.append(float(slope))
        elif type(slope) == list:
            BTC_ADL_slope.append(int(stat.mean(slope)))
        else:
            BTC_OBV_slope.append(slope)
    except Exception as e:
        print(e, o['_id'])
        sys.exit(1)

In [909]:
checkLen(BTC_OBV_Objs, BTC_OBVs)

True

In [910]:
checkLen(BTC_OBV_slope, BTC_OBVs)

True

In [911]:
print(f'datetime: {len(date_times)}\nprices: {len(BTC_prices)}')

datetime: 115626
prices: 115626

In [912]:
print(f'RSI: {len(BTC_RSIs)}\nADL: {len(BTC_ADLs)}\nslp: {len(BTC_ADL_slope)}\nOBV: {len(BTC_OBVs)}\nslp: {len(BTC_OBV_slope)}')

RSI: 109389
ADL: 71354
slp: 71354
OBV: 71355
slp: 71355

In [913]:
BTC_Data = {'Date': BTC_datetimes[0:71354], 'Prices': BTC_prices[0:71354], 'RSI': BTC_RSIs[0:71354], 'ADL': BTC_ADLs, 'ADL_slope': BTC_ADL_slope, 'OBV': BTC_OBVs[0:71354], 'OBV_slope':BTC_OBV_slope[0:71354]}

In [914]:
print(len(BTC_Data['Date']), len(BTC_Data['Prices']), len(BTC_Data['RSI']), len(BTC_Data['ADL']), len(BTC_Data['ADL_slope']), len(BTC_Data['OBV']), len(BTC_Data['OBV_slope']))

71354 71354 71354 71354 71354 71354 71354

In [915]:
BTC_df = pd.DataFrame(BTC_Data)
BTC_df.head()

,Date,Prices,RSI,ADL,ADL_slope,OBV,OBV_slope
0,"[2019-06-15, 01:06:02.514Z]",8644.08,15,9647.0,6.193095,5130,-0.092510
1,"[2019-06-15, 01:06:02.514Z]",8644.08,10,10443.0,2.008249,-5706,0.010063
2,"[2019-06-15, 01:07:00.363Z]",8646.01,15,-4861.0,0.818087,5378,-0.003326
3,"[2019-06-15, 01:08:03.989Z]",8646.01,3,2928.0,-0.057213,10819,2.000370
4,"[2019-06-15, 01:09:03.230Z]",8635.99,9,5203.0,-0.092510,-1,0.000246

In [916]:
BTC_df['Time'] = BTC_df['Date'][0][1]
BTC_df['Date'] = BTC_df['Date'][0][0]

In [917]:
BTC_df.head()

,Date,Prices,RSI,ADL,ADL_slope,OBV,OBV_slope,Time
0,2019-06-15,8644.08,15,9647.0,6.193095,5130,-0.092510,01:06:02.514Z
1,2019-06-15,8644.08,10,10443.0,2.008249,-5706,0.010063,01:06:02.514Z
2,2019-06-15,8646.01,15,-4861.0,0.818087,5378,-0.003326,01:06:02.514Z
3,2019-06-15,8646.01,3,2928.0,-0.057213,10819,2.000370,01:06:02.514Z
4,2019-06-15,8635.99,9,5203.0,-0.092510,-1,0.000246,01:06:02.514Z

In [918]:
cols = ['Date', 'Time', 'Prices', 'RSI', 'ADL', 'ADL_slope', 'OBV', 'OBV_slope']
BTC_df = BTC_df.reindex(columns=cols)

In [919]:
BTC_df.head(25)

,Date,Time,Prices,RSI,ADL,ADL_slope,OBV,OBV_slope
0,2019-06-15,01:06:02.514Z,8644.08,15,9647.0,6.193095,5130,-0.092510
1,2019-06-15,01:06:02.514Z,8644.08,10,10443.0,2.008249,-5706,0.010063
2,2019-06-15,01:06:02.514Z,8646.01,15,-4861.0,0.818087,5378,-0.003326
3,2019-06-15,01:06:02.514Z,8646.01,3,2928.0,-0.057213,10819,2.000370
4,2019-06-15,01:06:02.514Z,8635.99,9,5203.0,-0.092510,-1,0.000246
5,2019-06-15,01:06:02.514Z,8630.18,5,-6067.0,0.055845,-10854,1.996564
6,2019-06-15,01:06:02.514Z,8631.73,15,-5675.0,4.266566,-16287,1.999387
7,2019-06-15,01:06:02.514Z,8639.20,14,3510.0,0.676081,-16293,2.000123
8,2019-06-15,01:06:02.514Z,8633.44,9,16145.0,1.985836,8,-0.000454
9,2019-06-15,01:06:02.514Z,8633.78,14,4.0,0.000000,-13582,1.999509
10,2019-06-15,01:06:02.514Z,8638.90,24,11362.0,1.943075,-10864,0.999877
11,2019-06-15,01:06:02.514Z,8637.09,24,-22573.0,0.721591,-16300,1.999509
12,2019-06-15,01:06:02.514Z,8657.45,15,-23936.0,1.999509,-1,-0.000368
13,2019-06-15,01:06:02.514Z,8653.59,25,-16303.0,1.999509,-1,0.000245
14,2019-06-15,01:06:02.514Z,8652.26,15,67.0,0.008032,-16292,1.999509
15,2019-06-15,01:06:02.514Z,8653.40,18,-25971.0,4.808659,-8145,4073.500000
16,2019-06-15,01:06:02.514Z,8652.17,17,-3589.0,-0.000491,10866,2.000123
17,2019-06-15,01:06:02.514Z,8645.01,20,28.0,-0.000614,-10869,1.999632
18,2019-06-15,01:06:02.514Z,8643.02,61,10914.0,2.008589,-16303,1.999755
19,2019-06-15,01:06:02.514Z,8642.82,63,-10860.0,1.998528,0,0.000000
20,2019-06-15,01:06:02.514Z,8643.00,73,2431.0,-0.583706,-10866,1.998774
21,2019-06-15,01:06:02.514Z,8646.00,66,-999.0,-0.000245,10866,2.000736
22,2019-06-15,01:06:02.514Z,8647.33,61,-336560.0,1.024406,-10857,1.999386
23,2019-06-15,01:06:02.514Z,8643.92,32,-235151.0,34.813836,7,-0.000614
24,2019-06-15,01:06:02.514Z,8643.91,56,-109727.0,-0.213548,-16280,2.000737

In [920]:
BTC_df.describe()

,Prices,RSI,ADL,ADL_slope,OBV,OBV_slope
count,71354.000000,71354.000000,7.134300e+04,7.134300e+04,71354.000000,71342.000000
mean,10634.996490,49.160187,-6.488211e+05,-2.372187e+01,384.097402,11.397267
std,929.410065,15.745474,1.104352e+08,6.637674e+03,14721.037909,637.845667
min,8619.020000,0.000000,-2.364788e+10,-1.717722e+06,-93240.000000,-14771.500000
25%,10057.645000,38.000000,-2.000000e+00,1.275075e-03,-7006.000000,0.000088
50%,10556.565000,50.000000,8.788000e+03,1.969937e+00,2.000000,1.000113
75%,11326.890000,60.000000,1.921600e+04,2.001084e+00,7777.000000,2.000000
max,13156.700000,100.000000,5.892917e+07,3.213295e+05,93639.000000,14563.500000

In [921]:
BTC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71354 entries, 0 to 71353
Data columns (total 8 columns):
Date         71354 non-null object
Time         71354 non-null object
Prices       71354 non-null float64
RSI          71354 non-null int64
ADL          71343 non-null float64
ADL_slope    71343 non-null float64
OBV          71354 non-null int64
OBV_slope    71342 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 4.4+ MB

In [922]:
ADL_avg = BTC_df.ADL.mean()
ADL_slp_avg = BTC_df.ADL_slope.mean()
OBV_slp_avg = BTC_df.OBV_slope.mean()

In [925]:
values = {'ADL': ADL_avg, 'ADL_slope': ADL_slp_avg, 'OBV_slope': OBV_slp_avg}
BTC_df = BTC_df.fillna(value=values)
BTC_df.head()

,Date,Time,Prices,RSI,ADL,ADL_slope,OBV,OBV_slope
0,2019-06-15,01:06:02.514Z,8644.08,15,9647.0,6.193095,5130,-0.092510
1,2019-06-15,01:06:02.514Z,8644.08,10,10443.0,2.008249,-5706,0.010063
2,2019-06-15,01:06:02.514Z,8646.01,15,-4861.0,0.818087,5378,-0.003326
3,2019-06-15,01:06:02.514Z,8646.01,3,2928.0,-0.057213,10819,2.000370
4,2019-06-15,01:06:02.514Z,8635.99,9,5203.0,-0.092510,-1,0.000246

In [926]:
BTC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71354 entries, 0 to 71353
Data columns (total 8 columns):
Date         71354 non-null object
Time         71354 non-null object
Prices       71354 non-null float64
RSI          71354 non-null int64
ADL          71354 non-null float64
ADL_slope    71354 non-null float64
OBV          71354 non-null int64
OBV_slope    71354 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 4.4+ MB

In [934]:
from numpy.random import seed
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
np.random.seed(42)

In [932]:
X = BTC_df.drop('Prices', axis=1)
y = BTC_df['Prices'].values
print(X.shape)
print(y.shape)

(71354, 7)
(71354,)

In [931]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [933]:
print(X_train.shape)
print(y_train.shape)

(49947, 7)
(49947,)

In [935]:
X_scaler = StandardScaler().fit(X_train)

ValueError: could not convert string to float: '2019-06-15'